body {
    color: black;
    background-color: #5c6d93;
}

h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.container {
    display: inline-block;
    position: relative;
    text-align: left;
}

.image {
    position: relative;
    top: 50%;
    left: 25%;
}

.inout {
    position: absolute;
    top: 210px;
    left: 475px;
}

.results {
    position: absolute;
    top: 208px;
    left: 555px;
}