body {
    color: black;
    background-color: #93c7e6;
}

h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

.lightMode {
    color: black;
    background-color: #93c7e6;
}

.darkMode {
    color: black;
    background-color: #660c80;
}

.container {
    position: relative;
    text-align: left;
}

.image {
    position: absolute;
    top: 50%;
    left: 28%;
}

.inout {
    text-align: left;
    position: absolute;
    top: 85px;
    left: 500px;
}

.results {
    text-align: left;
    position: absolute;
    top: 82px;
    left: 577px;
}

.buttons {
    position: absolute;
    top: 180px;
    left: 480px;
    display: grid;
    grid-template-rows: repeat(5, 70px);
    grid-template-columns: repeat(4, 70px);
    align-items: left;
}

.constants {
    position: absolute;
    top: 60px;
    left: 1000px;
}

.warning {
    position: absolute;
    font-size: xx-small;
    top: 145px;
    left: 500px;
    color: red;
}

button {
    font-family: monospace;
    color: black;
    display: inline-block;
    border: 2px double #cccccc;
    background-color: #f0e9e9;
    padding: 20px;
    text-align: center;
}

button:hover {
    background-color: #aaa8a8;
}

.darkLight {
    position: absolute;
    top: 20px;
    left: 1000px;
}

#toggMode {
    font-size:x-small;
    padding: 4px;
}

#const {
    font-size: small;
    padding: 15px;
}